pandas
numpy
matplotlib
seaborn
jupyter
notebook
ipykernel
sqlite3

# we will use this in the next project just to spice things up a little bit
plotly         # for interactive charts
streamlit      # for dashboard